body{
	background-image:url(image/bois.jpeg);
	margin-top: 50px;
}
.jumbotron{background-image:url(image/bois.jpeg);}
img{width: 100%;}
.container-fluid{
	margin-top: 50px;
    width: 100%;
}

        